.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 32px;
  background: #ffff;
  border-bottom: 1px solid #e5e7eb;
  z-index: 1000;
  position: sticky;
  flex-wrap:wrap ;
  inset: 0;
}

.header__logo {
  font-size: 1.4rem;
    font-weight: 700;
    color: #ff6584;
    border-radius: 10%;
    border: 1px solid #ff6584;
    width: 90px;
    height: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__nav {
  display: flex;
  gap: 24px;
}

.header__nav a {
  text-decoration: none;
  color: #374151;
  font-weight: 500;
  transition: all 0.3s linear;
}

.header__nav a:hover {
  color: #ff6584;
  text-decoration: underline;
  text-decoration-color: #ff6584;
  text-underline-offset: 10px;
  text-decoration-thickness: 2px;
}

.header__actions {
  display: flex;
  gap: 12px;
}

/* Buttons */
.btn {
  padding: 8px 16px;
  border-radius: 6px;
  font-size: 0.9rem;
  cursor: pointer;
  border: none;
}
a{
  text-decoration: none;
}
.btn--ghost {
  background: transparent;
  color: #ff6584;
  border: none;
  border: 1px solid #ff6584;
}

.btn--ghost:hover {
  background-color: #ff6584;
  color: #ffffff;
  font-weight: 600;
  border-color: TRANSPARENT;
}

.btn--primary {
   background-color: #3a5285fb;
  color: #ffffff;
}

.btn--primary:hover {
  background-color: #188dbbfb;
}

@media (max-width: 1280px) {
  .header {
  

  .header__nav {
    display: none;
  }

  
}
}