:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  position: relative;
  overflow-x: hidden;
}

.main--wrapper {
  max-width: 1640px;
  margin: 0 auto;
  min-height: 100vh;
  background-color: #e2e0e014;
  padding: 20px;
}

.create-task-form {



  padding: 20px;
  margin-bottom: 20px;

  input,
  select {
    width: 100%;
    padding: 10px;
    margin-bottom: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
  }
  select{
    width: 103%;
   
  }
}

.card {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  h3{
    span{
      color:#ff6584;
    }
  }
  margin: 20px 0 40px 0;
}
.flex{
  display:flex;
  gap:20px;
  flex-wrap:wrap;
  justify-content:center;
  &.features-grid{
    padding-block: 40px;
    .card{
      flex:1 1 calc(33% - 40px);
      min-width:250px;
    }
  }
}
.w-50{
  width:50%;
}
table {
  border: 1px solid #e2e2e2;
  width: 100%;
 border-spacing: 0;
 border-collapse: collapse;
  border-radius: 8px;

  thead {
    background-color: #f0f0f0;
     border-radius: 8px;

    th {
      text-align: center;
      padding: 20px 15px;
    }
  }

  tbody {
    text-align: center;

    tr {
      border-bottom: 1px solid #e2e2e2;

      td,
      th {
        padding: 24px 15px;

      }
    }
  }
}

.modal-overlay {
  position: absolute;
  background: rgba(0, 0, 0, 0.4);

  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  filter: blur(0.4px);

  .modal {
    background: white;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);

    .modal-heder {
      display: flex;
      justify-content: space-between;
    }
  }
}